@use 'src/styles/vars';

.meal-list {
	
	margin-top: 2rem;
	h2 {
		margin: 1rem 0;
		font-size: 1.5em;
		text-align: center;
		color: vars.$color1;
		font-family: vars.$font1;
		text-transform: uppercase;
	}
}