@use 'src/styles/vars';

.drink {
	margin-top: 1rem;

	& .drink-category {
		text-align: left;
		position: relative;
		display: flex;
		font-size: 1.2em;
		
		&::after {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			border-bottom: solid 1px vars.$color1;
			width: 100%;
		}


	}

	&-description {
		margin: 0.5rem 0;
	

		& p:first-child {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			font-family: vars.$font2;
			font-size: 0.8em;
			font-weight: bold;
			text-transform: capitalize;
			margin-bottom: 0.2rem;
		}

		& p:nth-child(2) {
			font-size: 0.8em;
			font-style: italic;
			color: vars.$color2;
		}

	}
	&-counter-price, &-onsite-price, &-volume {
		color: vars.$color1
	}
	
}